.all-coins {
    width: 1108px;
    margin: 52px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.coin-type {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.coin-type-header {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
}

.show-all {
    color: black;
    text-decoration-line: none;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 109%;
}

.coin-photo {
    width: 214px;
}